.app-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header-actions {
    display: flex;
    gap: 1rem;
}

@media (max-width: 768px) {
    .header-actions {
        display: none;
    }
}